.step
    margin-top: 11px
    &s
        &__title
            max-width: 550px
            line-height: 45px
            margin: auto
            margin-bottom: 59px
        &__subtitle
            margin-bottom: 69px
            text-align: center
        &-block
            display: flex
            margin-bottom: 100px
            justify-content: center
            align-items: flex-start
            text-align: center
    &__image
        margin-bottom: 30px
    &__text
        text-decoration: none
        margin: 0
        padding: 0
        max-width: 150px
        font-size: 14px
        line-height: 20px
@media (max-width: 768px)
    .step
        padding: 0
        &__arrow
            display: none
        &__image
            margin-bottom: 22px
        &__text
            margin-bottom: 30px
        &s
            &__title
                max-width: 230px
                font-size: 18px
                line-height: 20px
                margin-bottom: 27px
            &__subtitle
                margin-bottom: 34px
            &-block
                flex-direction: column
                align-items: center
                margin-bottom: 40px
            
   
        